<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <div class="ui form">
    <%= f.input :title, wrapper_html: { class: 'inline field' } %>
    <%= f.input :author, wrapper_html: { class: 'inline field' } %>
    <%= f.input :country, wrapper_html: { class: 'inline field' } %>
    <%= f.input :translator, wrapper_html: { class: 'inline field' } %>
    <%= f.input :publisher, wrapper_html: { class: 'inline field' } %>
    <%= f.input :ISBN, wrapper_html: { class: 'inline field' } %>
    <%= f.input :number, wrapper_html: { class: 'inline field' } %>
    <%= f.input :price, wrapper_html: { class: 'inline field' } %>
    <%= f.input :average, wrapper_html: { class: 'inline field' } %>
    <%= f.input :pubdate, wrapper_html: { class: 'inline field' } %>
    <%= f.input :pages, wrapper_html: { class: 'inline field' } %>
    <%= f.association :category, wrapper_html: { class: 'inline field' } %>
    <%= f.input :rec_date, wrapper_html: { class: 'inline field' } %>
    <%= f.input :image_url, as: :file, wrapper_html: { class: 'inline field' } %>
    <%= f.input :catalog, wrapper_html: { class: 'inline field' } %>
    <%= f.input :author_intro, wrapper_html: { class: 'inline field' } %>
    <%= f.input :summary, wrapper_html: { class: 'inline field' } %>
    <%= f.input :info, wrapper_html: { class: 'inline field' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "small ui purple button" %>
  </div>
<% end %>
