
<table class="ui table segment">
  <thead>
    <tr>
      <th><%= t "title" %></th>
      <th><%= t "author" %></th>
      <th><%= t "country" %></th>
      <th><%= t "publisher" %></th>
      <th><%= t "number" %></th>
      <th><%= t "rec_date" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.country %></td>
        <td><%= book.publisher %></td>
        <td><%= book.number %></td>
        <td><%= book.rec_date %></td>
        <td><%= link_to t('show'), book %></td>
        <td><%= link_to t('edit'), edit_book_path(book) %></td>
        <td><%= link_to t('destroy'), book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new book'), new_book_path, :class => "small ui purple button" %>
