<div class="ui grid">
  <div class="ui eleven wide column">
    <div class="ui segment">
      <div class="ui teal ribbon label">详情</div>
      <div class="center">
        <p id="notice"><%= notice %></p>
        <%= image_tag @book.image_url, width: "200" %>
        <p>
          <strong><%= t "title" %>:</strong>
          <%= @book.title %>
        </p>
        <p>
          <strong><%= t "author" %>:</strong>
          <%= @book.author %>
        </p>
        <p>
          <strong><%= t "country" %>:</strong>
          <%= @book.country %>
        </p>
        <p>
          <strong><%= t "translator" %>:</strong>
          <%= @book.translator %>
        </p>
        <p>
          <strong><%= t 'publisher' %>:</strong>
          <%= @book.publisher %>
        </p>
        <p>
          <strong>Isbn:</strong>
          <%= @book.ISBN %>
        </p>
        <p>
          <strong><%= t "number" %>:</strong>
          <%= @book.number %>
        </p>
        <p>
          <strong><%= t "price" %>:</strong>
          <%= @book.price %>
        </p>
        <p>
          <strong><%= t "rec_date" %>:</strong>
          <%= @book.rec_date %>
        </p>
        <p>
          <strong><%= t "category" %>:</strong>
          <%= @book.category.title %>
        </p>
        <p>
          <strong><%= t "pages" %>:</strong>
          <%= @book.pages %>
        </p>
        <p>
          <strong><%= t "author_intro" %>:</strong>
          <%= @book.author_intro %>
        </p>
        <p>
          <strong><%= t "summary" %>:</strong>
          <%= @book.summary %>
        </p>
        <% if can? :borrow,Book %>
          <%= form_tag("borrow",method: "post",remote: true) do %>
          <div class="ui form">
            <div class="field">
              <%= text_field_tag(:book,@book.id,hidden: "hidden") %>
            </div>
            <div class="field">
              <%= label_tag("用户：") %>
              <%= text_field_tag(:user) %>
            </div>
            <div class="field">
              <%= label_tag("借阅天数：") %>
              <%= text_field_tag(:days,"15") %>
            </div>
            <div class="field">
              <%= label_tag("书况：") %>
              <%= text_area_tag(:info) %>
            </div>
            <%= submit_tag"借 阅",:class => "small ui purple button" %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="test modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="content">
    <div class="left">
      Content can appear on left
    </div>
    <div class="right">
      Content can appear on right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
