<div class="ui segment">
  <div class="ui teal ribbon label">详情</div>
  <div class="center">
    <p id="notice"><%= notice %></p>

<p>
  <strong><%= t "title" %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t "author" %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t "country" %>:</strong>
  <%= @book.country %>
</p>

<p>
  <strong><%= t "translator" %>:</strong>
  <%= @book.translator %>
</p>

<p>
  <strong><%= t 'publisher' %>:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong><%= t "number" %>:</strong>
  <%= @book.number %>
</p>

<p>
  <strong><%= t "price" %>:</strong>
  <%= @book.price %>
</p>

<p>
  <strong><%= t "rec_date" %>:</strong>
  <%= @book.rec_date %>
</p>

  </div>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
