<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ui purple inverted menu attached">
  <div class="wrap">
  	<a class="item">
  	  <p class="navfont">书香满屋</p>
    </a>
    <%= link_to(books_path,:class => "item root-icon") do  %>
      <i class="list icon"></i><p class="smallfont">书单</p>
    <% end %>
    <%= link_to(borrow_books_path,:class => "item root-icon") do  %>
      <p class="smallfont">借书</p>
    <% end %>
    <div class="right menu">
      <% if !user_signed_in? %>
        <%= link_to "登录",new_user_session_path, class: "item" %>
        <%= link_to "注册",new_user_registration_path, class: "item" %>
      <% else %>
        <%= link_to current_user.username,'', class: "item" %>
        <%= link_to "退出",destroy_user_session_path, class: "item",:method => "delete" %>
    <% end %>
    </div>

  </div>
</div>

<div class="main">
  <div class="sep20"></div>
  <div class="wrap">
    <%= yield %>
  </div>
</div>

</body>
</html>
